@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .trapezoid {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .bear {
    &-body {
      &-radius {
        border-radius: 50% / 40% 40% 60% 60%;
      }
    }

    &-eyes {
      &-transition {
        transition: all 0.3s linear;
      }
    }

    &-eye {
      &-transition {
        transition: all 0.3s ease;
      }
    }

    &-nose {
      &-radius {
        border-radius: 50% / 60% 60% 30% 30%;
      }

      &-transition {
        transition: 0.4s ease;
      }

      &-inner {
        &-radius {
          border-radius: 50% / 40% 40% 60% 60%;

          &::after {
            position: absolute;
            bottom: -5px;
            left: 50%;
            width: 10px;
            height: 10px;
            content: "";
            background: #2d120f;
            border-radius: 50%;
            box-shadow:
              10px 2.4px 0 #d1a68f,
              -10px 2.4px 0 #d1a68f;
            transform: translateX(-50%);
          }
        }
      }
    }

    &-motion {
      transition: all 1s ease;
    }
  }

  .intro {
    &-transition {
      &-bg {
        transition:
          height 0.5s ease,
          width 1s ease 0.5s;
      }
    }

    &-contents {
      &-bg {
        background:
          linear-gradient(to right, #d2d8d9 50%, #202f55 50%) bottom,
          linear-gradient(to right, #d2d8d9 50%, #202f55 50%) top;
        background-repeat: no-repeat;
        background-size: 100% 4px;
        border-right: 4px solid #202f55;
        border-left: 4px solid #d2d8d9;
      }
    }
  }

  .wave {
    display: inline-block;
    transform-origin: 70% 70%;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }

    10% {
      transform: rotate(14deg);
    }

    20% {
      transform: rotate(-8deg);
    }

    30% {
      transform: rotate(14deg);
    }

    40% {
      transform: rotate(-4deg);
    }

    50% {
      transform: rotate(10deg);
    }

    60% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

.flex-center {
  @apply flex items-center justify-center;
}

.transition-500 {
  @apply transition duration-500 ease-in-out;
}
