@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .trapezoid {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .bear {
    &-body {
      &-radius {
        border-radius: 50% / 40% 40% 60% 60%;
      }
    }
    &-eyes {
      &-transition {
        transition: all 0.3s linear;
      }
    }
    &-eye {
      &-transition {
        transition: all 0.3s ease;
      }
    }
    &-nose {
      &-radius {
        border-radius: 50% / 60% 60% 30% 30%;
      }
      &-transition {
        transition: 0.4s ease;
      }
      &-inner {
        &-radius {
          border-radius: 50% / 40% 40% 60% 60%;
          &::after {
            content: '';
            width: 10px;
            height: 10px;
            background: #2d120f;
            position: absolute;
            bottom: -5px;
            left: 50%;
            border-radius: 50%;
            transform: translateX(-50%);
            box-shadow: 10px 2.4px 0 #d1a68f, -10px 2.4px 0 #d1a68f;
          }
        }
      }
    }
  }
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.transition-500 {
  @apply transition duration-500 ease-in-out;
}
